<tr>
    <td>
        <!-- <div class="ui basic center aligned segment">
            {{answerCount}}
            <br> answers
        </div> -->
    </td>
    <td>
        {{{renderedText}}}
        <table class="ui very basic table">
            <tr>
                <td>
                </td>
                <td class="right aligned">
                    answered {{datetime}} by <a v-on:click="goUser($event)" href="/user/{{user.login}}">{{user.login}}</a>
                </td>
            </tr>
        </table>

    </td>
</tr>